.big-semi-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.small-semi-circle {
    border-radius: 50%;
}

.kpi-detail {
    max-height: calc(100vh - 33.5rem);
}