.react-calendar {
    height: auto;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }

.react-calendar__month-view__days {
    
}

.react-calendar__month-view__days__day {
    padding: 20px 20px;
    border: 1px #F3F3F4 solid;
}

.react-calendar__month-view__days__day:hover {
    background-color: #FFF8E8;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    padding: 30px 0px;
}
.react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday > abbr {
    text-decoration: none;
}

.react-calendar__navigation {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    justify-content: space-between;
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 2px gray solid;
}
.react-calendar__month-view__days__day--neighboringMonth {
    background-color: #D5D4DF;
}

.react-calendar__tile--now {
    background-color: #FABB18;
}

.mobile-calendar > .react-calendar__viewContainer > .react-calendar__month-view > div > div > .react-calendar__month-view__weekdays {
    border: 0 !important;
    padding: 10px; 
}

.mobile-calendar > .react-calendar__viewContainer > .react-calendar__month-view > div > div > .react-calendar__month-view__days > .react-calendar__month-view__days__day  {
    border: 0 !important;
    padding: 15px;
    border-radius: 20%; 
}