@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --toastify-toast-min-height: 80px;
    --toastify-color-progress-light: var(--toastify-color-success);
}

.fc .fc-button {
  background-color:  #FFF;
  border: 0;
  color: black;
}

.fc .fc-button:hover {
    color: #FABB18;
    background-color:  #FFF;
}


.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    color: #FABB18;
    background-color: #FFF;
    border: 0;
}

.fc .fc-toolbar-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: auto;
    margin-bottom: auto;
    
}

.fc-daygrid-day-frame {
    max-height: 50px;
    overflow: hidden;
}



.fc-daygrid-day-frame:hover {
    background-color: #FFF8E8;
}

.fc-toolbar-chunk {
    display: flex;
}

.fc-header-toolbar {
    background-color: white;
    padding: 5px 3rem;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fc-view {
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
}

.fc-day-today {
    background-color: #FABB18 !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    border: 0;
    box-shadow: none;
}

.fc .fc-button-primary:focus {
    box-shadow: none;
}
.fc-daygrid-block-event {
    cursor: pointer;
    background-color: #FABB18;
    border: 0;
    font-weight: 600;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Toastify__toast-container--top-right {
    top: 10%;
}

.Toastify__toast-theme--light {
    background-color: #D3FCCF;
    font-weight: bold;
    font-size: large;
}

.scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f3f0f0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #524E4E;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #524E4E;
  }